@import url('https://fonts.googleapis.com/css2?family=Allura&family=Gothic+A1:wght@300;400;500&display=swap');

$breakpoints: (
    "small": "(min-width: 375px) and (max-width: 900px)",
    "medium": "(min-width: 900px) and (max-width: 1200px)",
    "large": "(min-width: 1200px) and (max-width: 1600px)",
);

@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map 
    {
        @media (#{$my-map}) {
            @content;
        }
    }
    @else 
    {
        @error 'Oops, #{$user-value} is not defined'
    }
};

@include breakpoint(large){
    .main-products {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &_gallery {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@include breakpoint(small){
    .main-products {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}